
#txt {
 margin: 0px 0px 0px 200px;
 color: grey;
}
#sbm {
    background-color: rgb(219, 118, 45);
    border-radius: 3px;
}
.label {
    color:grey;
}
div {
   
}
body {
    font-family: calibri;
}